<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Login&&Registry</title>
  
  
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>

      <link rel="stylesheet" href="static/css/style.css">
      <link rel="stylesheet" href="static/css/auth.css">

  
</head>

<body>

<div style="text-align:center;clear:both;">


</div>

<div class="box">
    <div class="switch-container"></div>
    <div class="joy-con-left">
        <div class="bumper-left"></div>
        <div class="minus-btn"></div>
        <div class="analog-left"></div>
        <div class="dpad-container-left">
            <div class="dpad-up"></div>
            <div class="dpad-right"></div>
            <div class="dpad-down"></div>
            <div class="dpad-left"></div>
        </div>
        <div class="square-btn"></div>
    </div>
    <div class="joy-con-right">
        <div class="bumper-right"></div>
        <div class="plus-btn"></div>
        <div class="dpad-container-right">
            <div class="dpad-x"></div>
            <div class="dpad-a"></div>
            <div class="dpad-b"></div>
            <div class="dpad-y"></div>
        </div>
        <!--登录-->
        <div class="analog-right">
        </div>
        <div class="home-btn"></div>
    </div>
    <div class="screen-outer">
        <div class="screen-inner"></div>
        <div class="reflector"></div>
        <div class="lcd">
            <div class="lowin">
                <div class="lowin-brand">
                    <img src="static/images/kodinger.jpg" alt="logo">
                </div>
                <div class="lowin-wrapper">
                    <div class="lowin-box lowin-login">
                        <div class="lowin-box-inner">
                            <form>
                                <p>Sign in to continue</p>
                                <div class="lowin-group lowin-group_email">
                                    <label>Email</label>
                                    <input type="email" autocomplete="email" name="email" class="lowin-input">
                                    <label class="error_message_email"></label>

                                </div>
                                <div class="lowin-group password-group lowin-group_password">
                                    <label>Password <a href="#" class="forgot-link">Forgot Password?</a></label>
                                    <input type="password" name="password" autocomplete="current-password"
                                           class="lowin-input">
                                    <label class="error_message_password"></label>

                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <video class="dtJQsw" preload="auto" autoplay="" loop="">
            <source src="static/video/mathewlucas.mp4" type="video/mp4">
        </video>
        <script src="static/js/auth.js"></script>
        <script src="static/js/jquery.min.js"></script>
        <script src="static/js/formchecked.js"></script>

    </div></body>

</html>
